<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 md-margin-bottom-40">
          <a href="index.html"><img id="logo-footer" class="footer-logo" src="/assets/img/logo/openpathstylizedlogo-yellow.png" alt="Open Path Massage logo"></a>
          <p>Open Path Massage is Erica Moore, a local PA Licensed Massage Therapist, LIC: 5835, performing massage therapy sessions in the comfort of your own home! There are weekly, bi-weekly and monthly massage sessions available!</p>
          <p>Open Path Massage is a 100% woman-owned small business based in Chester County, PA that provides in-home massage therapy in Pottstown, Phoenixville, Collegeville, King of Prussia, and the Greater Philadelphia area.</p>
        </div>
        <!--<div class="col-md-3 md-margin-bottom-40">
           <div class="posts">
            <div class="headline"><h2>Latest Articles</h2></div>
            <ul class="list-unstyled latest-list">
              <li>
                <a href="#">What's a Massage Party?</a>
                <small>May 15, 2018</small>
              </li>
              <li>
                <a href="#">Why Buy a Massage Package?</a>
                <small>December 15, 2017</small>
              </li>
              <li>
                <a href="#">Benefits of Massage</a>
                <small>March 15, 2016</small>
              </li>
            </ul>
          </div> 
        </div>-->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2>Popular Massage Services</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="/in-home-massage">In-Home Massage</a><i class="fa fa-angle-right"></i></li>
            <li><a href="/chair-massage">Chair Massage</a><i class="fa fa-angle-right"></i></li>
            <li><a href="/sports-massage">Sports Massage</a><i class="fa fa-angle-right"></i></li>
            <li><a href="/massage-parties">Massage Parties</a><i class="fa fa-angle-right"></i></li>
            <li><a href="/cupping-therapy">Cupping Therapy</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div>
        <div class="col-md-3 map-img md-margin-bottom-40">
          <div class="headline"><h2>Contact Me</h2></div>
          <address class="md-margin-bottom-40">
            Phone: <a href="tel:+4849859606">(484)985-9606</a><br />
            Email: <script type="text/javascript">
            //<![CDATA[
            <!--
            var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i>(55+y))" +
            "y*=2;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"QM" +
            "WYOURP\\037&i:j?3'5h f$qolc?=o+z939?-2w0`13[\\026\\n\\n\\010\\000N\\037F\\n" +
            "\\002\\n\\036.\\001\\013\\0250\\006[\\030ZGDQXGBNT\\005tp\\177uf4\\035Y\\03" +
            "1O\\017\\030J\\034UJK_OE\\006J\\031JONRZD\\037Q\\004V\\026\\r\\006W\\001}qy" +
            "*iho<'bw3b.&.\\\"\\020&{=|m**<...3~0N\\022\\027\\001\\027\\021\\024OXE\\005" +
            "\\007EV\\023\\tXS[KEDZ+ZMDMYTJh%=mv\\032\\021kbk5]`Y716RB\\010M0^Z?-\\016\\" +
            "\"\\\\66>BbK02ZR*\\014N\\\\^?],\\rN\\\\^3>.b\\\"106RB\\0010326RBJ\\\"\\\\15" +
            ">Bb[I65>BbJ02ZR)\\016N\\\\^7<.b\\\"n^Z:/\\016\\\"\\\\^$RBCO02ZRx\\002E!8#aq" +
            "\\tL0^Z)6\\022N2TVWRZK22ZRYl0YG@j+\\016N\\\\^@H`P\\026xX3u{P#+ed{R\\002\\02" +
            "0\\\\^1=.b\\\"716RB\\014L0^Z:,\\016\\\"\\\\36>BbO02ZRQ\\rN0^Z=.\\016\\\"\\\\"+
            "vZRX\\rN0^Z=.\\016\\\"\\\\16>BbM22ZR3\\003I0^$RB\\013\\\"\\\"^Z05\\002[036R" +
            "B\\031Y+0]8.\\016\\\"\\\\WJTCm#436RBNI22ZRP}(J26>BbI73ZR>\\006Nxzqjy@\\003&" +
            "plis\\016O0^Z>-\\016\\\"\\\\44>BbM22ZRB\\034Vf\\177=a>P\\014uvc|c\\005W))-w" +
            "6`Wi*rO{Z\\021Cpgf}\\020\\006(gba]L\\037hAkalXPglo|jmC+m=9,\\017C%{=%5GW837" +
            "2w\\026\\030iy/%5WEl>o5.\\003\\027(pih%V\\nglcb0FCl.Z,B\\034Co.o.l_\\010{+\\"+
            "177\\\"f\\026\\030 ligj]\\020ud$'\",55)"                                     ;
            while(x=eval(x));
            //-->
            //]]>
            </script>

          </address>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>© 2021 Open Path Massage</p>
        </div>
        <div class="col-md-6">
          <ul class="footer-socials list-inline">
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <!-- <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
            </li> -->
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
