<div class="header-v6 header-classic-white header-sticky header-fixed-shrink">
  <div class="navbar mega-menu" role="navigation">
    <div class="container">
      <div class="menu-container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <a href="/">
            <img class="big-logo hidden-xs hidden-sm hidden graphic" src="/assets/img/logo/open-path-logo-new.png" alt="Logo">
            <img class="big-logo hidden-xs hidden-sm hidden stylized" src="/assets/img/logo/openpathstylizedlogo-yellow.png" alt="Logo">
            <img class="small-logo shrink-logo graphic" src="/assets/img/logo/open-path-logo-new.png" alt="Logo">
            <img class="small-logo shrink-logo stylized" src="/assets/img/logo/openpathstylizedlogo-yellow.png" alt="Logo">
          </a>
        </div>
      </div>
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <div class="menu-container">
          <ul class="nav navbar-nav">
            <li class="nav_pain_management">
              <a href="/">Massage Services</a>
            </li>
            <li class="nav_wellness">
              <a href="/massage-packages">Massage Packages</a>
            </li>
            <li>
              <a href="/gift-certificates" title="Massage Gift Certificates">Gift Certificates</a>
            </li>
            <li class="nav_about">
              <a href="/about" title="About Open Path Massage">About</a>
            </li>
            <!--<li class="nav_faq">
              <a href="/testimonials" title="Frequently Asked Questions">Testimonials</a>
            </li>-->
            <li class="nav_contact">
              <a href="/contact" title="Contact Open Path Massage">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
