{% if page.testimonials %}
<div class="row clear">
  <div class="col-md-12">
    <h3>Client Testimonials</h3>
  </div>
  {% if page.testimonial_1 %}
  {{ #page.testimonial_1 }}
  <div class="col-sm-6">
    <div class="testimonials-v4 md-margin-bottom-50">
      <div class="testimonials-v4-in">
        <p>{{ quote }}</p>
      </div>
      {% if icon = "woman" %}
      <img class="rounded-x" src="/assets/images/testimonials/woman.png" alt="thumb">
      {% endif %}
      {% if icon = "man" %}
      <img class="rounded-x" src="/assets/images/testimonials/man.png" alt="thumb">
      {% endif %}
      <span class="testimonials-author">
        {{name}}<br>
        <em>{{ profession }}</em>
      </span>
    </div>
  </div>
  {{ /page.testimonial_1 }}
  {% endif %}
  {% if page.testimonial_2 %}
  {{ #page.testimonial_2 }}
  <div class="col-sm-6">
    <div class="testimonials-v4">
      <div class="testimonials-v4-in">
        <p>{{ quote }}</p>
      </div>
      {% if icon = "woman" %}
      <img class="rounded-x" src="/assets/images/testimonials/woman.png" alt="thumb">
      {% endif %}
      {% if icon = "man" %}
      <img class="rounded-x" src="/assets/images/testimonials/man.png" alt="thumb">
      {% endif %}
      <span class="testimonials-author">
        {{name}}<br>
        <em>{{ profession }}</em>
      </span>
    </div>
  </div>
</div>
{{ /page.testimonial_2 }}
{% endif %}
