<div class="row clear">
  <div class="col-md-12">
    <h3>Client Testimonials</h3>
  </div>
  <div class="col-sm-6">
    <div class="testimonials-v4 md-margin-bottom-50">
      <div class="testimonials-v4-in">
        <p>{{ page.testimonial_1_quote }}</p>
      </div>
      {% if page.testimonial_1_icon = "woman" %}
      <img class="rounded-x" src="/assets/images/testimonials/woman.png" alt="thumb">
      {% elseif %}
      <img class="rounded-x" src="/assets/images/testimonials/man.png" alt="thumb">
      {% endif %}
      <span class="testimonials-author">
        {{ page.testimonial_1_name }}<br>
        <em>{{ page.testimonial_1_profession }}</em>
      </span>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="testimonials-v4">
      <div class="testimonials-v4-in">
        <p>{{ page.testimonial_2_quote }}</p>
      </div>
      {% if page.testimonial_2_icon = "woman" %}
      <img class="rounded-x" src="/assets/images/testimonials/woman.png" alt="thumb">
      {% elseif %}
      <img class="rounded-x" src="/assets/images/testimonials/man.png" alt="thumb">
      {% endif %}
      <span class="testimonials-author">
        {{ page.testimonial_2_name }}<br>
        <em>{{ page.testimonial_2_profession }}</em>
      </span>
    </div>
  </div>
</div>
