{% if page.testimonials %}
<div class="row clear">
  <div class="col-md-12">
    <h3>Client Testimonials</h3>
  </div>
  {% for client in page.testimonials %}
  <div class="col-sm-6">
    <div class="testimonials-v4 md-margin-bottom-50">
      <div class="testimonials-v4-in">
        <p>{{ client.quote }}</p>
      </div>
      {% if client.icon = "woman" %}
      <img class="rounded-x" src="/assets/images/testimonials/woman.png" alt="thumb">
      {% endif %}
      {% if client.icon = "man" %}
      <img class="rounded-x" src="/assets/images/testimonials/man.png" alt="thumb">
      {% endif %}
      <span class="testimonials-author">
        {{ client.name }}<br>
        <em>{{ client.profession }}</em>
      </span>
    </div>
  </div>
  {% endfor %}
{% endif %}
